*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	background: #2C3E50;
	color: #ECF0F1;
}

h1 {
	text-align: center;
	padding: 30px 0 50px;
}

p {
	margin: 0;
	padding: 5px 10px;
	font-size: 0.9rem;
}

a:link,
a:visited {
	text-decoration: none;
	color: #ECF0F1;
}

span {
	font-weight: bold;
}

input {
	margin: 20px 0 0 10px;
	padding: 5px;
}

button {
	background: #E74C3C;
	color: #ECF0F1;
	border: none;
	padding: 7.5px 10px;
	margin: 0 0 0 10px;
}

.container {
	max-width: 90%;
	margin: 0 auto;
}

#problem1,
#problem2,
#problem3 {
	background: #2980B9;
	padding: 20px;
	margin: 0 auto;
	display: inline-block;
	max-width: 33%;
	height: 300px;
	vertical-align: middle;
	position: relative;
}

.answer {
	position: absolute;
	bottom: 60px;
}

#problem1 a,
#problem2 a,
#problem3 a {
	font-size: .8rem;
	position: absolute;
	bottom: 20px;
}

